/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo a {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#footer__logo {
    margin: 20px;
    padding-right: 16px;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    /* color: white; */
    display: flex;
    justify-content: center;
}

.footer__link__wrapper {
    display: flex;
}

.footer__link__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 200px;
    box-sizing: border-box;
}

.footer__link__items h2 {
    margin-bottom: 16px;
}

.footer__link__items>h2 {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link__items a {
    color: rgb(255, 156, 156);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link__items a:hover {
    color: #3a98f6;
    transition: 0.15s ease-out;
}

/* Social Icons */
.social__media__link {
    color: #fff;
    font-size: 24px;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    background-color: #141414;
}

.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 240px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.website__rights {
    color: #fff;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link__wrapper {
        flex-direction: column;
    }

    .social__media__wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link__items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}